mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }
  mat-expansion-panel-header{
    background-color: #87CEEB;
  }
  mat-panel-title{
    padding-top: 2%;
    font-family: "Times New Roman", Times, serif;
  }

  .note-card-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
  }

  .note-card {
    margin: 10px;
    display: inline-block;
    /* font-family: "Times New Roman", Times, serif; */
  }
  
  mat-card {
    width: 300px;
  }
  